attrs==20.2.0
click==7.1.2
flasgger==0.9.5
Flask==1.1.2
iniconfig==1.0.1
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
MarkupSafe==1.1.1
mistune==0.8.4
more-itertools==8.5.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.0.2
PyYAML==5.3.1
six==1.15.0
toml==0.10.1
Werkzeug==1.0.1